@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #83BCA9;
}

header {
    background-color: #282B28;
    color: rgb(214, 208, 208);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: #3A4C3D;
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: #3E5443;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #507155;
    color: white;
    border-top: 2px solid rgb(155, 149, 149);
}

menu a:hover {
    background-color: rgb(175, 165, 165);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}